/**
@Author：Wyunfei
@Date：2019/2/25/19:15
@FileName: login
*/
.login {
  width: 420px;
  margin: 0 auto;
  padding-top: 240px;
  overflow: hidden;
}
.layadmin-user-login-box {
  text-align: center;
  margin-bottom: 42px;
}
